@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(27.13% 0.022 263.88);

  --color-primary: oklch(32.91% 0.109 263.59);
  --color-primary-foreground: oklch(98.11% 0.005 264.42);
  
  --color-muted: oklch(96.08% 0.006 264.42);
  --color-muted-foreground: oklch(65.73% 0.012 263.63);
}

@layer base {
  .dark {
    --color-background: oklch(27.13% 0.022 263.88);
    --color-foreground: oklch(98.11% 0.005 264.42);
    
    --color-primary: oklch(98.11% 0.005 264.42);
    --color-primary-foreground: oklch(32.91% 0.109 263.59);
    
    --color-muted: oklch(30.34% 0.035 264.24);
    --color-muted-foreground: oklch(74.96% 0.009 264.12);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  html {
    overflow-y: scroll;
  }

  .dark .prose h1,
  .dark .prose h2,
  .dark .prose h3,
  .dark .prose h4,
  .dark .prose h5,
  .dark .prose h6 {
    color: var(--color-primary) !important;
  }

  .dark .prose p,
  .dark .prose li,
  .dark .prose strong {
    color: var(--color-foreground) !important;
  }
  
  .dark .prose a {
    color: var(--color-primary) !important;
  }

  .dark .prose blockquote {
    color: var(--color-muted-foreground) !important;
    border-left-color: var(--color-primary) !important;
  }
}

